@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    min-height: 100dvh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            to bottom,
            #120c1f 0%,
            #2a1244 40%,
            #3B1E54 70%,
            #4C2A85 100%
    );
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}
.animate-pulse-smooth {
    animation: pulse-smooth 1.5s ease-in-out infinite;
}
@keyframes pulse-smooth {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
}

.botones a{
    background-color: #9C2AFD;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 7rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
    display: inline-block;
}
@keyframes glow{
    0%, 100%{
        color: #F8F9FA;
        text-shadow:
                0 0 8px #E0BBE4,
                0 0 20px #E0BBE4,
                0 0 40px #E0BBE4;
    }
    10%, 90%{
        color: #b8a9d9;
        text-shadow:
                0 0 0px rgba(224,187,228,0),
                0 0 0px rgba(224,187,228,0),
                0 0 0px rgba(224,187,228,0);
    }
}
.greetings > span:nth-child(2){
    animation-delay: .1s ;
}
.greetings > span:nth-child(3){
    animation-delay: .2s ;
}
.greetings > span:nth-child(4){
    animation-delay: .3s;
}
.greetings > span:nth-child(5){
    animation-delay: .4s;
}
.greetings > span:nth-child(6){
    animation-delay: .5s;
}
.greetings > span:nth-child(7){
    animation-delay: .6s;
}
.greetings > span:nth-child(8){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #E0BBE4;
    font-weight: bold;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 1em;
    }
    
    .button a{
        font-size: 1rem;
    }
}
